<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <p class="logo">MyShopping</p>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Produits", items_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Packs", packs_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <%  if Cart.where(user: current_user).nil? || Cart.where(user: current_user).blank? %>
        <%= link_to "Mon Panier", carts_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% else %>
        <%= link_to "Mon Panier", cart_path(Cart.where(user: current_user).last), class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>


      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>

